@font-face {
    font-family: 'akrobatregular';
    src: url('../fonts/akrobat-regular-webfont.woff2') format('woff2'),
         url('../fonts/akrobat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {max-height: 1000000px;}
body {
    margin:0;
    height:100%;
    min-width:320px;
    font-family: 'akrobatregular';
    font:15px/20px;
    overflow-y: scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
}
body {
    overflow-x: hidden;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
img {border-style:none;
width: 100%;
height: auto;
}
a {
    text-decoration:none;
    outline:none;
}
a:hover{text-decoration:none;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding:0;
    border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
q {quotes: none;}
q:before,
q:after {
    content: '';
    content: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#wrapper {
    position: relative;
    overflow: hidden;
}
.mainLogo{
    display: none;
}
.sidebar {
    position: relative;
    background: #2f3032;
    float: left;
    width: 20%;
}
.sidebar::after {
    width: 100%;
    background: #2f3032;
    left: 0;
    right: 0;
    bottom: -100;
    height: 9999px;
    position: absolute;
    content: "";
}
#logo {
    width: 152px;
    margin: 25px auto;
}
.menu {
    padding: 0;
    margin: 0;
}
.menu li {
    display: block;
}
.menu li a {
    color: #fff;
    padding: 8px;
    display: block;
    text-align: center;
    font-size: 16px;
    border-left: 3px solid transparent;
    transition:all 0s ease 0.5s;
}
.menu li a:hover , .menu li.active a {
    background: #252628;
    border-left: 3px solid #c7b377;
    transition:all 0.5s ease 0s;;
}
.languages {
    position: relative;
    overflow: hidden;
    margin: 0 0 18px;
    font-size: 18px;
    text-align: center;
    padding: 0;
}
.languages li {
    display: inline-block;
    margin: 0 0 0 10px;
}
.languages li a {
    color: #737373;
}
.languages li.active a {
    color: #fff;
}
.social {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 0 25px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    list-style: none;
}
.social li {
    display: inline-block;
    margin: 0 6px;
}
.social li a{
    color: #c7b377;
}
.maincontents {
    position: relative;
    overflow: hidden;
    float: right;
    width: 80%;
    background: #090909;
    padding: 0 0 200px;
}
.stickySlider {
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.SliderHolder {
    position: relative;
    overflow: hidden;
    margin: 0 0 50px;
    padding: 0 0 45px;
}
#myCarousel {
    width: 44%;
    padding: 55px 35px 75px;
    background: #fff;
    float: left;
    position: absolute;
    left: 0;
    z-index: 999;
    top: 46px;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
#myCarousel h2 {
    color: #c7b377;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 13px;
}
#myCarousel p {
    font-size: 15px;
    color: #000;
}
#myCarousel .carousel-control .glyphicon-chevron-left,
#myCarousel .carousel-control .icon-prev {
    margin-left: -30px;
    color: #c7b377;
    box-shadow: none;
}
#myCarousel .carousel-control .glyphicon-chevron-right,
#myCarousel  .carousel-control .icon-next {
    margin-right: -30px;
    color: #c7b377;
    box-shadow: none;
}
#myCarousel .carousel-control {
    text-shadow: none;
}
#myCarousel .carousel-indicators li,
#myCarousel .carousel-indicators .active {
    width: 50px;
    height: 2px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    border-radius: 0;
    background-color: #c7b377;
}
#myCarousel .carousel-indicators {
    bottom: 26px;
    margin-bottom: ;
}
.stickyImg img {
    width: 100%;
    height: auto;
    display: block;
}
.stickyImg {
    width: 65%;
    float: right;
    position: relative;
    margin: 90px 0 0;
    z-index: 99;
}
.stickyBg {
    position: absolute;
    left: 39%;
    background: #c7b377;
    width: 300px;
    top: 0;
    content: "";
    z-index: 9;
    right: auto;
    bottom: 0;
}
.stickySlider h3 {
    color: #fff;
    font-size: 47px;
    text-align: center;
}
.stickySlider p {
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 20px 38px;
}
.stickyBtns {
    position: relative;
    margin: 30px 0;
}
.stickyBtns a:first-child {
    background: #c7b377;
    color: #fff;
    padding: 14px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
}
.stickyBtns a:last-child {
    color: #c7b377;
    padding: 8px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #c7b377;
    float: right;
    margin: -11px 30px 0 0;
}
.enrollNow {
    background: #2f3032;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.enrollLeft {
    width: 50%;
    float: left;
    font-size: 16px;
    color: #fff;
}
.enrollLeft .name {
    color: #c7b377;
    font-size: 40px;
    font-weight: bold;
}
.enrollLeft a{
    background: #c7b377;
    color: #fff;
    padding: 7px 21px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 4px;
    margin: 20px 0;
    display: block;
    width: 182px;
}
.enrollRight {
    float: right;
    width: 16%;
    overflow: hidden;
    margin: 0 50px 0 0;
}
.loremHead {
    padding: 50px;
    color: #fff;
    text-align: center;
}
.loremHead h2 {
    font-size: 46px;
    font-weight: bold;
    margin: 0;
}
.enrollNow.second .enrollRight {
    width: 22%;
    margin-top: 30px;
}
.shop {
    position: relative;
    overflow: hidden;
    padding: 40px;
}
h1 {
    margin: 0 0 30px;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}
.singleBox {
    margin: 0 0 30px;
    position: relative;
    overflow: hidden;
}
.sessionholder {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #fff;
}
.sessionholder h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.sessionholder span {
    color: #c7b377;
    font-size: 16px;
    display: block;
    margin: 0 0 12px;
}
.sessionholder a {
    background: #c7b377;
    color: #fff;
    padding: 8px;
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #c7b377;
}
.sessionholder a:hover {
    background: transparent;
    color: #c7b377;
    border: 2px solid #c7b377;
    transition: all 0.5s ease 0s;
}
.aboutUs {
    position: relative;
    overflow: hidden;
    padding: 40px;
}
.abouttext h3 {
    margin: 0;
    font-size: 35px;
    color: #1e1e1e;
}
.abouttext span {
    color: #fff;
    font-size: 16px;
}
.abouttext {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    background: #c7b377;
    left: 2px;
}
.aboutontent {
    border: 3px solid #c7b377;
    padding: 50px 30px;
    color: #fff;
}
.aboutontent h3 {
    font-size: 42px;
    margin: 38px 0;
}
.aboutontent p {
    font-size: 19px;
    line-height: 42px;
    margin: 0 0 100px;
}
.aboutontent a {
    font-size: 20px;
    color: #fff;
}
.aboutUs .singleBox {
    padding-right: 59px;
}
.accordion {
  background-color: #292929;
  color: #c7b277;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: #292929;
}

/* Style the accordion panel. Note: hidden by default */
 .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.myAccount .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #c7b777 !important;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.myAccount {
    position: relative;
    overflow: hidden;
    padding: 40px;
}
.profilePic {
    padding: 0 45px 0 11px;
}
.profileContent {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.profileContent h3 {
    color: #c7b277;
    font-size: 50px;
    margin: 50px 0 13px;
}
.profileContent label {
    color: #fff;
    margin: 0 0 10px;
}
.profileContent p {
    color: #c7b277;
    font-size: 16px;
    text-transform: uppercase;
}
.profileContent p {
    color: #c7b277;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.profileContent .progress-bar-success {
    background-color: #c7b277;
    border-radius: 5px;
}
.profileContent .progress {
    height: 6px;
}
.progress {
    overflow: initial;
}
.progress span {
    display: block;
    color: #c7b277;
    padding: 8px 0 0;
    position: relative;
    overflow: hidden;
    float: right;
}
.myAccount h4 {
    color: #c7b277;
    margin: 30px 0;
}
.achievments {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 0 50px 0;
}
.achievments li {
    width: 58px;
    display: inline-block;
    margin: 0 20px 0 0;
}
.certificateimg {
    position: relative;
    overflow: hidden;
    width: 35%;
}
.certificateimg h4 {
    margin: 60px 0;
}
.acievementArea {
    position: relative;
    overflow: hidden;
    padding: 0 40px;
}
.profileContent p span {
    color: #fff;
    background: #c7b777;
    padding: 3px 8px;
    border-radius: 14px;
    font-size: 14px;
    margin: 0 0 0 12px;
    text-transform: none;
}
.maincontents.osama-hamdy {
    padding: 0;
    background: #fff;
}
.osama-hamdy h1 {
    overflow: hidden;
    background: #000;
    margin: 40px 0;
    padding: 1px 34px;
    box-shadow: 2px 1px 16px 2px #bdbaba;
}
.osama-hamdy h1 img {
    width: 50px;
    margin: 5px 24px 0;
    float: right;
}
.osama-hamdyArea {
    position: relative;
    overflow: hidden;
    padding: 30px 40PX;
}
.hamdyBox {
    box-shadow: 0px 0px 6px 0px #bdbaba;
    margin: 0 0 30px;
}
.hamdyBox:hover{
    box-shadow: 0px 3px 9px 0px #c7b777;
}
.hamdyimg {
    position: relative;
}
.hamdyimg:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background:rgb(199,183,119,0.65);
    display: none;
}
.hamdyimgLayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    z-index: 99;
    margin: -15px 0 0 -15px;
    display: none;
}
.hamdyBox:hover .hamdyimg:after,
.hamdyBox:hover .hamdyimgLayer{
    display: block;
    transition:all 0s ease 0.5s;
}
.hamdytext {
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 16px;
    color: #010101;
}
.hamdytext p {
    margin: 0 0 30px;
    min-height: 46px;
}
.hamdytext  span {
    color: #4c4c4c;
    font-size: 14px;
    margin: 0 0 20px;
    display: block;
}
.hamdytext .price {
    color: #c7b777;
    font-size: 28px;
    margin: 0 0 10px !important;
}
.hamdytext .price img {
    width: 60px;
    display: block;
    margin: 6px 0;
}
.shireenalmutawa h1 {
    overflow: hidden;
    background: #2e2f31;
    margin: 40px 0;
    padding: 1px 34px;
}
.shireenalmutawa h1 img {
    width: auto;
    height: 65px;
    margin: 5px 24px 0;
    float: right;
}
.bonusArea {
    position: relative;
    overflow: hidden;
    padding: 0 40px 30px;
}
.shireenalmutawa .hamdyBox {
    background: #fff;
}
.bonusArea hr {
    border: 2px solid #c7b377;
    width: 87%;
    margin: 0 auto;
}
.bonusArea h2 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.bonusArea .hamdyimgLayer {
    display: block;
    width: 100%;
    text-align: center;
    left: 15px;
    font-size: 16px;
}
.bonusArea .hamdyimgLayer img {
    width: 26px;
}
.bonusArea .hamdyimg::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(234, 224, 224, 0.65);
    display: block;
}
.maincontents.module {
    background: #fff;
}
.moduleBanner {
    position: relative;
    overflow: hidden;
}
.moduleBannerContents {
    position: absolute;
    top: 20%;
    text-align: center;
    margin: 0 0 0 95px;
}
.moduleBannerContents h1 {
    color: #c7b277;
    font-size: 80px;
}
.moduleBannerContents ul{
    list-style: none;
}
.moduleBannerContents ul li {
    width: 175px;
    float: left;
    margin: 0 20px 0 0;
}
.moduleVideo {
    padding: 30px 40px;
}
.moduleVideo {
    padding: 0;
    width: 90%;
    margin: -12px auto 40px;
    border: 4px solid #c7b277;
    position: relative;
    overflow: hidden;
}
.nextSteps {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.moduleBox {
    position: relative;
    overflow: hidden;
}
.moduleBox .col-md-4.col-sm-4 {
    padding: 0;
}
.nextSteps h3 {
    font-size: 35px;
    margin: 22px 0 50px;
    position: relative;
}
.nextSteps h3::after {
    content: "";
    position: absolute;
    left: 0 !important;
    bottom: -9px !important;
    width: 38px;
    height: 2px;
    background: #c7b277;
}
.nextSteps .col-md-6.col-sm-6 {
    padding: 0;
}
.nextSteps p {
    font-size: 16px;
    line-height: 33px;
    text-align: justify;
}
.nextSteps ul {
    padding: 0;
    margin: 0 0 0 80px;
    list-style: none;
}
.nextSteps ul li{
    margin: 0 0 30px ;
    display: block;
    position: relative;
    letter-spacing: 2px;
}
.nextSteps ul li::after {
    left: -27px;
    position: absolute;
    top: -4px;
    content: "";
    width: 21px;
    background: url(../images/pic36.png);
    height: 70px;
    background-size: cover;
    background-position: center;
}
.nextSteps ul li:last-child::after {
    left: -27px;
    position: absolute;
    top: -4px;
    content: "";
    width: 21px;
    background: url(../images/pic36a.png);
    height: 70px;
    background-size: cover;
    background-position: center;
}
.moduleBox h2 {
    font-size: 35px;
    margin: 22px auto 50px;
    position: relative;
    width: 100px;
    color: #c7b277;
}
.moduleBox h2::after {
    content: "";
    position: absolute;
    left: 40% !important;
    bottom: -9px !important;
    width: 38px;
    height: 2px;
    background: #c7b277;
}
#mylesson .moduleVideo {
    padding: 0;
    width: 100%;
    margin: 0;
    border: 4px solid #c7b277;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.afterLogin {
    padding: 0 0 0 20px;
}
.playbtn {
    margin: 0 0 20px;
}
.playbtn a {
    color: #bea96a;
    font-size: 20px;
    padding: 0;
    display: block;
}
.playbtn img {
    width: 40px;
    margin: -8px 15px 0 0;
}
.afterLogin .progress {
    background: transparent;
    height: 14px;
}
.afterLogin .progress-bar-success {
    background-color: #bfaa6c;
    border-radius: 10px;
}
.points {
    position: relative;
    overflow: hidden;
}
.points ul {
    padding: 0;
}
.points ul li {
    display: inline-block;
    width: 46%;
    color: #bfaa6c;
    font-size: 16px;
    padding: 10px 0;
}
.points ul li img {
    float: left;
    width: 35px;
    margin: -7px 0 0;
}
.afterLogin h4 {
    color: #bfaa6c;
    border: 1px solid #bfaa6c;
    width: 128px;
    text-align: center;
    padding: 6px;
    margin: 0 0 10px;
}
.afterLogin .menu li a{
    text-align: left;
}
.afterLogin label {
    color: #bfaa6c;
    font-size: 14px;
    font-weight: normal;
    margin: 16px 0;
}
.lessonsBanner {
    position: relative;
    overflow: hidden;
}
.lessonsBannerContents {
    position: absolute;
    left: 40%;
    top: 32%;
}
.lessonvideoBtn {
    text-align: center;
}
.lessonvideoBtn .btn.btn-info.btn-lg {
    background: transparent;
    border: none;
}
.lessonvideoBtn img {
    width: 150px;
}
.lessonsBannerContents h1 {
    color: #bfaa6c;
    text-align: center;
}
.lessonsBannerContents h1::after {
    content: "";
    position: absolute;
    left: 40% !important;
    bottom: -3px !important;
    width: 38px;
    height: 4px;
    background: #c7b277;
}
.maincontents.lessons {
    background: #fff;
}
.moduleList {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.moduleList ul {
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.moduleList ul li {
    width: 60px;
    font-size: 16px;
    list-style: none;
    margin: 0 40px;
    display: inline-block;
}
.moduleList ul li a {
    color: #bfaa6c;
    text-align: center;
}
.lessonsList {
    padding: 0 60px;
    position: relative;
    overflow: hidden;
}
.lessonsList h2 {
    color: #c7b277;
    text-align: center;
    margin: 0 0 30px;
    font-size: 40px;
    font-weight: bold;
}
.lessonsList .col-md-4.col-sm-4 {
    margin: 0 0 30px;
}
.lessonContents {
    position: relative;
    overflow: hidden;
}
.lessonContents span {
    color: #c7b277;
    font-size: 16px;
}
.lessonContents p {
    font-size: 16px;
}
.maincontents.afterlessons {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.headingDiv {
    margin: 40px;
    border-left: 3px solid #c7b277;
    padding: 20px 30px;
}
.headingDiv h1{
    color: #c7b277; 
    font-size: 50px;
}
.afterlessonsContents{
    position: relative;
    overflow: hidden;
    width: 86%;
    margin: 0 auto;
}
.afterlessonsVideo {
    border: 4px solid #c7b277;
    margin: 0 0 40px;
}
.sessionOverview {
    position: relative;
    overflow: hidden;
    margin: 0 0 40px;
    font-size: 17px;
}
.sessionOverview h2 {
    color: #c7b277;
    margin: 24px 0;
}
.afterLessonTabs {
    position: relative;
    overflow: hidden;
    margin: 0 0 40px;
}
.afterLessonTabs .tab-content {
    box-shadow: 0px 0px 6px 0px #bdbaba;
    position: relative;
    width: 99%;
    margin: 0 auto 30px;
    padding: 15px;
}
.afterLessonTabs .nav.nav-tabs {
    margin: 0 0 0 4px;
}
.afterLessonTabs .nav-tabs > li.active > a,
.afterLessonTabs .nav-tabs > li.active > a:hover, 
.afterLessonTabs .nav-tabs > li.active > a:focus {
    background-color: #c7b277;
    border: 1px solid #c7b277;
}
.afterLessonTabs .nav-tabs > li > a:hover, 
.afterLessonTabs .nav-tabs > li > a:focus {
    background-color: #c7b277;
    border: 1px solid #c7b277;
}
.afterLessonTabs .nav-tabs > li.active > a{
    color: #fff;
}
.afterLessonTabs .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: #d5c599;
    color: #fff;
    width: 153px;
    text-align: center;
    font-size: 16px;
}
.afterLessonTabs .tab-content li {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    list-style: none;
}
.afterLessonTabs .tab-content ul li::after {
    left: -26px;
    position: absolute;
    top: 5px;
    content: "";
    width: 18px;
    background: url(../images/pic49.png);
    background-size: cover;
    background-position: center;
    height: 20px;
}
.afterLessonTabs .tab-content h3 {
    color: #c7b277;
    margin-left: 33px;
}
.lessonNavigation a {
    color: #fff;
    background: #c7b277;
    padding: 13px 10px;
    display: block;
    width: 189px;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}
.lessonNavigation a .fa{
    margin: 0 0 0 5px;
}
.lessonNavigation a .fa {
    margin: 0 9px 0 0;
}
.lessonNavigation .Prev a,
.lessonNavigation .next a {
    border-radius: 30px;
}
.lessonNavigation {
    position: relative;
    overflow: hidden;
}
.lessonNavigation .Prev {
    float: left;
}
.lessonNavigation .next {
    float: right;
}
.lessonNavigation span{
    margin: 20px 0 0 0;
}
.lessonNavigation span {
    margin: 58px 0 0 0;
    display: block;
    text-align: center;
    color: #c7b277;
    font-size: 16px;
}
.lessonNavigation .next .fa {
    margin: 0 0 0 9px;
}
.signUp h1 {
    margin: 35px 50px;
}
.signUp form {
    width: 65%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: ;
}
.signUp form h2 {
    color: #c7b377;
    font-weight: bold;
    font-size: 37px;
}
.input-container {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
}
.input-container label {
    display: inline-block;
    max-width: 100%;
    font-weight: normal;
    width: 185px;
    margin: 8px 0 0;
}
.input-container .input-field {
    padding: 10px;
    width: 73%;
    float: right;
    border-radius: 4px;
    border: none;
}
.input-container.dob .input-field {
    width: 70px;
    float: left;
    text-align: center;
    margin: 0 20px 0 0;
}
.input-container.dob label {
    float: left;
}
.input-container.dob #sel1 {
    float: right;
    width: 170px;
}
.input-container.dob span {
    margin: 6px 0 0 20px;
    display: block;
    float: left;
}
.input-container textarea {
    width: 73%;
    float: right;
    border-radius: 4px;
    border: none;
}
.signUpSmallDiv {
    position: relative;
    width: 73%;
    float: right;
    overflow: hidden;
}
.signUpSmallDiv label {
    width: auto;
    display: block;
}
.signUpSmallDiv .input-container.city {
    width: 48%;
    float: left;
}
.signUpSmallDiv .input-container.state {
    width: 48%;
    float: right;
}
.signUpSmallDiv .input-field {
    width: 100%;
}
.signUp form .btn {
    background: #c7b377;
    color: #fff;
    width: 50%;
    margin: 20px 0;
    font-weight: bold;
    font-size: 16px;
}
.input-container.dob label {
    float: left;
    margin-right: 4px;
}